.card {
  position: relative;
  cursor: pointer;
}
.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card img:hover {
  filter: blur(1px);
}

/* front of card - the picture */

.card .front,
.card .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card .front {
  transform: rotateY(90deg);
  transition: transform 0.2s ease-in-out;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0);
  transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
